html {
  width: 100%;
  align-content: center;
  background: rgb(45,12,6);
  background: radial-gradient(circle, rgba(45,12,6,1) 0%, rgba(22,5,246,0.5088235123150823) 0%, rgba(206,248,142,1) 72%, rgba(158,239,255,1) 100%);
  /*cssgradient.io*/
  margin: 0%;
  text-align: center;
}

#header-lists {
  display: inline-block;
  text-align: left;
  list-style-type: disc;
}


#nav {
    list-style-type: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: black;
}

#nav li {
    float:right;

}

#nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 1em;
    text-decoration: none;
}

#nav li :hover {
    color: black;
    background-color: white;
}

.labels {
  display: block;
  color: white;
}

form {
  border: 2px solid black;
  border-radius: 20px;
  background-color: #06879e;
  margin-bottom: 3vh;
}

.input {
  border-radius: 10px;
  width: 95%;
  padding: 2%;
}

label{
  padding-bottom: 1%;
  padding-top: 1%
}

#formSubmit {
  width: 100%;
  margin-top: 5%;
  height: 45px;
  border-radius: 10px;
}

#welcome-section {
  height: fit-content;
  display: inline-block;
  text-align: center;
  max-width: 800px;

}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  padding-left: 1%;
  padding-right: 1%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  text-decoration: none;
}

.project-tile {
  height: fit-content;
}

#projectDiv {
  display: inline-flexbox;
  justify-content: center;
  flex-wrap: wrap;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(253, 253, 253, 0.993); /* Solid White*/
}

.function {
  width: 80%;
  height: fit-content;
  align-content: center;
  text-align: center;
  display: inline-block;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 10%;
}

#markedEditor {
  width: 100%;
  height: 50vh;
}

#formDiv, #topDiv, #projectDiv {
  min-width: 100vw;
  padding-top: 8vh;
}

#calcContainer{
  display: grid;
  max-width: 500px;
  min-width: 250px;
  height: 50vh;
  column-count: 4;
  margin: auto;
  
}

#calculator {
  background-color:rgb(29, 70, 158);
  float: none;
  height: 40vh;
  padding: 2%;
}

#display {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px black;
  border-radius: 10px;
  height: 3vh;
}

#output{
  margin-top: 10%;
}

.row {
  text-align: center;
  display: flex;
  height: 6vh;
  padding-top: .5%;
  padding-bottom: .5%;
  width: 100%;
}

button {
  width: 25%;
  border-radius: 10px;
}
.end {
  width: 50%;
  height: 100%;
  padding: 0px;
}

.googheader, .googfooter {
  padding: 0;
  margin: 0;
  margin-right: 5%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}

#googmain {
  max-width: 500px;
  padding: 10%;
  margin: auto;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  
}

#googheader, #googfooter, .googleft, .googright, #gLefthead, #gRighthead, #gleftfoot, #grightfoot {
  display: flex;
  text-decoration: none;
  padding: 2%;  
}



#query {
  border-radius: 15px;
  height: 30px;
  width: 100%;
}

#googlogo {
  width: auto;
  height: auto;
  max-width: 272px;
  margin: auto;
}


#googbuttons  {
  padding: 0;
  padding-bottom: auto;
  margin-top: -5%;
  list-style: none;
  display: flex;
  justify-content: center;
  
}

#etchContainer {
  margin: auto;
  margin-top: 3vh;
}

#twitterImg {
  max-width: 40px;
  padding-top: 2vh;
}

#new-quote {
  background-color: yellow;
  margin-top: 2vh;
  height: 5vh;
}

