@media only screen and (min-width: 816px) {
    form {
        width: 80%;
        max-width: 800px;
        margin: auto;
        padding: 2%;
    }

    .project-tile {
        width: 20vw;
        margin: 2vmin;
    }

    .tiles-images {
        width: 100%;
        max-width: 300px;
        height:13em;
        max-height: 300px;
        margin: 1%;
    }

    .popup {
        padding-top: 5%; /* Location of the box */
        left: 5%;
        top: 0;
        width: 90%; /* Almost Full width */
        height: 90%; 
    }

    #functionContents {
        padding-left: 5%;
        padding-right: 5%; 
    }
}