@media only screen and (max-width: 415px) {
    body {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    #nav {

        position: fixed;
        top: 0;
        left: 0;
        text-size-adjust: auto;
    }

    #nav li {
        float: center;
    }

    #nav li a{
        display: block;
        color: white;
        text-align: center;
        
        text-decoration: none;
    }

    #profileLink, #resume {
        float: left;
    }

    #welcome-section {
        width: 85vw;
        padding-top: 10%;
        margin: 0;
    }

    form {
        width: 80vw;
        margin: auto;
        padding: 2%;
    }

    .project-tile {
        width: 80vw;
        height: fit-content;
        padding: 0;
    }

    .popup {
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
    }

    #googfooter, #grightfoot, #gleftfoot {
        flex-flow: wrap;
    }

    #googlogo {
        width: 50vw;
    }

    #topDiv {
        padding: 0%;
    }
    .tiles-images {
        width: 80vw;
    }

    .card {
        width: 80vw;
        margin-bottom: 2%;
    }
} 
