@media only screen and (max-width: 415px) {
    #nav {

        position: fixed;
        top: 0;
        left: 0;
        text-size-adjust: auto;
    }

    #nav li {
        float: center;
    }

    #nav li a{
        display: block;
        color: white;
        text-align: center;
        
        text-decoration: none;
    }

    #profileLink, #resume {
        float: left;
    }

    #welcome-section {
        width: 85vw;
        padding: 0;
        margin: 0;

    }

    form {
        width: 80vw;
    }

    .project-tile {
        width: 80vmin;
        height: fit-content;
        padding: 0;
    }

    .popup {
        height: 100%;
        margin: 0;
    }

    #googfooter, #grightfoot, #gleftfoot {
        flex-flow: wrap;
    }

    #googlogo {
        width: 50vw;
    }
} 
