@media only screen and (min-width: 416px) and (max-width: 815px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
    #nav {
        position: fixed;
        top: 0;
        left: 0;
        text-size-adjust: auto;
    }

    #nav li {
        float: center;
    }

    #nav li a{
        display: block;
        color: white;
        text-align: center;
        
        text-decoration: none;
    }

    #profileLink, #resume {
        float: left;
    }

    #topDiv {
        padding: 0%;
    }

    #welcome-section {
        width: 85vw;
        padding: 0;
        margin: 0;
    }

    form {
        width: 80vw;
        margin: auto;
        padding: 2%;
    }

    .project-tile {
        width: 60vw;
        height: fit-content;
        margin-bottom: 5%;
    }

    .tiles-images {
        margin-top: 3%;
        width: 55vw;
        max-width: 300px;
        height: 250px;
    }

    
    
    .popup {
        height: 100%;
        margin: 0;
        top: 0;
        left: 2%;
        width: 96%;
    }

    #googfooter, #grightfoot, #gleftfoot {
        flex-flow: wrap;
    }

    #googlogo {
        width: 50vw;
    }

    #etchContainer {
        width: 80vmin;
        height: 80vmin;
        margin: auto;
        padding: 0;
    }

    #markedEditor {
        width: 90%;
        height: 40vh;
    }

    #markedContainer {
        width: 90%;
        margin: auto;  
    }
    

} 
